 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>
<body>
<div id="regions_div" style="width: 900px; height: 700px;"></div>

<form method="post" action="">
    {% csrf_token %}
    <select name="selectedcountry">
    {% for country in mylist %}
    <option>{{country}}</option>
    {% endfor %}
</select>

    <input type="submit" name="">
</form>
<h1>{{selectedcountry}}</h1>
<p>new : {{new}}</p>
<p>active : {{active}}</p>
<p>critical : {{critical}}</p>
<p>recovered : {{recovered}}</p>
<p>deaths : {{deaths}}</p>
<p>total cases : {{total}}</p>


</body>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {
        'packages':['geochart'],
        // Note: you will need to get a mapsApiKey for your project.
        // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
        'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
      });
      google.charts.setOnLoadCallback(drawRegionsMap);
      let mapArray=[
          ['Country', 'Active Cases','Total Cases'],
          ['New-Caledonia', 71,129],
           ['South-Sudan', 286,10917],
           ['CAR', 185,7142],
           ['Iceland', 60,6718],
           ['Bahamas', 1218,13604],
           ['Eritrea', 260,6450],
           ['Comoros', 27,4011],
           ['Gibraltar', 275,4671],
           ['Greenland', 30,83],
           ['Micronesia', 0,1],
           ['Bermuda', 15,2530],
           ['Andorra', 335,14359],
           ['Belize', 350,13772],
           ['Cura&ccedilao', 429,12804],
           ['Djibouti', 11,11627],
           ['Aruba', 87,11244],
           ['Saint-Lucia', 110,5481],
           ['Guinea-Bissau', 273,4052],
           ['Liechtenstein', 16,3069],
           ['Monaco', 86,2693],
           ['Turks-and-Caicos', 37,2455],
           ['Montserrat', 1,21],
           ['Saint-Martin', 996,2433],
           ['Sao-Tome-and-Principe', 37,2410],
           ['Chad', 13,4964],
           ['British-Virgin-Islands', 1587,2024],
           ['St-Barth', 542,1005],
           ['Falkland-Islands', 0,63],
           ['Wallis-and-Futuna', 0,445],
           ['Saint-Pierre-Miquelon', 0,26],
           ['Gambia', 715,6920],
           ['Yemen', 1455,6987],
           [ 'Liberia', 2533,5396],
           ['Sierra-Leone', 1932,6191],
           ['Burundi', 5113, 5894],
           ['Burkina-Faso', 27,13536],
           ['Tajikistan', 307,14177],
           ['Solomon-Islands', 0,20],
           ['Channel-Islands', 2928,7462],
           ['Sint-Maarten', 36,2677],
           ['Antigua-and-Barbuda', 8,1275],
           ['Cayman-Islands', 5,625],
           ['Saint-Kitts-and-Nevis', 51,554],
           ['Benin', 56,8244],
           ['Marshall-Islands', 0,4],
           ['Samoa', 0,3],
           ['New-Zealand', 51,2822],
           ['China', 608,92342],
           ['Vatican-City', 0,27],
           ['Tanzania', 305,509],
           ['Anguilla', 2,113],
           ['Isle-of-Man', 893,2545],
           ['Grenada', 0,161],
           ['Congo', 1065,12998],
           ['Niger', 113,5590],
           ['Dominica', 11,206],
           ['Barbados', 163,4269],
           ['Brunei', 41,305],
           ['San-Marino', 7,5099],
           ['Caribbean-Netherlands', 24,1683],
           ['Diamond-Princess', 0,712],
           ['MS-Zaandam', 0, 9],
           ['Equatorial-Guinea', 134,8848],
           ['Macao', 2,55],
           ['Laos', 1531,3710],
           ['Mauritius', 788,2661],
           ['Western-Sahara', 1,10],
           ['Saint-Helena', 0,2],
           ['Bhutan', 300,2427],
           ['St-Vincent-Grenadines', 54,2263],
           ['Nicaragua', 4349,8767],
           ['Vanuatu', 0,4],
           ['Hong-Kong', 66,11966],
           ['Martinique', 13174,13371],
           ['Lesotho', 5458,12398],
           ['Timor-Leste', 758,10174],
           ['Faeroe-Islands', 99,941],
           ['UAE', 20373,664027],
           ['Jamaica', 3368,51220],
           ['Afghanistan', 46442,142414],
           ['Serbia', 2359,719006],
           ['Namibia', 22514,112824],
           ['Uganda', 20023, 90656],
           ['Cyprus', 17148,92252],
           ['Botswana', 14792,91902],
           ['El-Salvador', 5217,82852],
           ['Cameroon', 1913,81467],
           ['Maldives', 2482,76019],
           ['Saudi-Arabia', 10799,512142],
           ['Luxembourg', 1497,72985],
           ['Zambia', 9736,187602],
           ['Malawi', 7378,43817],
           ['Cabo-Verde', 526,33317],
           ['R&eacute union', 2258,33295],
           ['French-Guiana', 18833,28995],
           ['Papua-New-Guinea',  171,17515],
           ['Guyana', 1216,21562],
           ['Eswatini', 1537,21243],
           ['Seychelles', 641,17541],
           ['Dominican-Republic', 53402,337975],
           ['Morocco', 16090,558785],
           ['Moldova', 834,258096],
           ['Somalia', 7067,15123],
           ['Cuba', 35673,294449],
           ['Mozambique', 22514,102009],
           ['DRC', 16502, 46725],
           ['Qatar', 1546,224402],
           ['North-Macedonia', 221,155931],
           ['Albania',  160,132697],
           ['Togo', 690,14680],
           ['Panama', 13448,423366],
           ['Guatemala', 31240,334375],
           ['Palestine', 1571,315761],
           ['Egypt', 43011, 283762],
           ['Zimbabwe', 27321,85732],
           ['Gabon', 115,25283],
           ['Mali', 2113,14513],
           ['Sudan', 3495,37138],
           ['Suriname', 3297,24312],
           ['Mauritania', 1440,22753],
           ['Mayotte', 16322,19460],
           ['Venezuela', 13522,293866],
           ['French-Polynesia', 96,19127],
           ['Algeria', 44193,154486],
           ['Rwanda', 16523,58235],
           ['Syria', 2015,25840],
           ['Trinidad-and-Tobago', 5742,36198],
           ['Bolivia', 53102,463125],
           ['S-Korea', 18075,180481],
           ['Vietnam', 48799,60180],
           ['Mongolia', 11386,149733],
           ['Belgium', 30623,1107208],
           ['Angola', 5147,40906],
           ['Australia', 1462,32120],
           ['Guinea', 911,24711],
           ['Haiti', 5971,19563],
           ['Honduras', 178283,281604],
           ['Pakistan', 49929,993872],
           ['Kazakhstan', 60055,499111],
           ['Costa-Rica',70585,392781],
           ['Kyrgyzstan', 21719,151607],
           ['Uzbekistan', 4312, 120631],
           ['Cambodia', 6608,68796],
           ['Thailand', 126765,426475],
           ['Israel',  7924,853478],
           ['Hungary', 35421,808889],
           ['Georgia', 18223,390945],
           ['Lithuania', 7128,279914],
           ['Sri-Lanka', 20744,286419],
           ['Armenia',  4615,227716],
           ['Montenegro', 381,100690],
           ['Ivory-Coast', 404,49219],
           ['Estonia', 2515,131963],
           ['Slovenia', 803,258287],
           ['Ghana', 3124,99160],
           ['Guadeloupe', 14887,17373],
           ['Kenya', 6485,193189],
           ['Nigeria', 2830,169678],
           ['Norway', 44786,134534],
           ['Austria', 3754, 654314],
           ['Taiwan', 1030,15453],
           ['Japan', 27617,844014],
           ['Singapore', 872,63440],
           ['Slovakia', 400,392139],
           ['Croatia', 739,361759],
           [ 'Latvia', 522,138238],
           ['Libya', 38916,226701],
           ['Senegal', 8535, 53573],
           ['Fiji', 14994,19352],
           ['Madagascar', 663,42551],
           ['Malta', 2177,32833],
           ['Portugal', 52236,932540],
           ['Romania', 634,1081773],
           ['Jordan', 8252,762028],
           ['Nepal', 26419,670953],
           ['Malaysia', 133703, 939899],
           ['Lebanon', 7786,551157],
           ['Tunisia', 92753,548753],
           [ 'Finland', 53795,100773],
           ['Ecuador', 10474,476312],
           ['Bangladesh', 159224, 1128889],
           ['Greece', 28178,459146],
           ['Switzerland', 8611,710243],
           ['Paraguay', 26278,445565],
           ['Belarus', 3019,435620],
           ['Bulgaria', 7538,423078],
           ['Myanmar', 64759,234710],
           ['Kuwait', 16211,386869],
           ['Denmark', 11316,307764],
           ['Uruguay', 4082,379072],
           ['Bosnia-and-Herzegovina', 7652,205340],
           ['Azerbaijan', 2242,338586],
           ['Oman', 21792,289042],
           ['Ireland', 16821,285581],
           ['Ethiopia', 10966,277780],
           ['Bahrain', 810, 267949],
           ['Sweden', 7865,1095279],
           ['Iraq', 120408,1510517],
           ['Netherlands', 135155,1814143],
           ['Oceania', 16845,91542],
           ['Spain', 408622, 4161850],
           ['Germany', 20914,3753835],
           ['North-America', 5764575,41483050],
           ['Asia', 2531203,59399359],
           ['Europe', 2668183,50039820],
           ['Africa', 654919,6321643],
           ['All', 13130667,191981243],
           ['USA', 4986861,35019526],
           [ 'India', 420749,31209914],
           ['UK', 978940,5519602],
           ['Canada', 4597,1423878],
           ['South-America', 1494942,34645108],
           ['France', 99037,5871881],
           [ 'Mexico', 332022,2664444],
           ['Ukraine', 10594,2245275],
           ['Czechia', 2970,1671372],
           ['Russia', 474401,6006536],
           ['Poland', 153341,2881594],
           ['Philippines', 46806,1517903],
           ['Brazil', 781888,19391845],
           ['Turkey', 96043,5537386],
           ['Argentina', 259372,4769142],
           ['Colombia', 131142,4655921],
           ['Italy', 47525,4289528],
           ['South-Africa', 166139,2302304],
           ['Indonesia', 550192,2950058],
           ['Peru', 0,2094445],
           ['Chile', 13199,1600883],
           ['Iran', 319690,3576148],
           ['MS-Zaandam-', 7,9],
           ['Diamond-Princess', 82,712],
           ['US-Virgin-Islands', 17,17],
           ['Puerto-Rico', 36,39],
           ['Guam', 31,32]
        ];

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable(mapArray);

        var options = {};

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart.draw(data, options);
      }
    </script>
</html>